[Unit]
Description=Driver for the led matrix
After=network.target
PartOf=led-display.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/matrix/projects/home_led_matrix
ExecStart=/home/matrix/projects/home_led_matrix/start_matrix.sh

[Install]
WantedBy=multi-user.target
